In [149]:
import pandas as pd
import numpy as np

In [150]:
df=pd.read_csv("C:/Users/tanuj/Downloads/sqli.csv", encoding='utf-16')
df.head()

                                            Sentence  Label
0   select * from users where id = 1 or  ( \ )  =...      1
1   select * from users where id = 1 or  ( \. )  ...      1
2   select * from users where id = 1 or  ( \+ )  ...      1
3   select * from users where id = 1 or  ( 1 )  =...      1
4   select * from users where id = 1 or  ( \+ )  ...      1

In [151]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5437 entries, 0 to 5436
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sentence  5058 non-null   object
 1   Label     5437 non-null   int64
dtypes: int64(1), object(1)
memory usage: 85.1+ KB

In [152]:
df.shape

(5437, 2)

In [153]:
df.isnull().sum()

Sentence    379
Label         0
dtype: int64

In [154]:
df=df.dropna()

# converting text to vectors

In [155]:
from sklearn.feature_extraction.text import CountVectorizer
from nltk.corpus import stopwords

vectorizer=CountVectorizer(stop_words=stopwords.words('english'))
X=vectorizer.fit_transform(df['Sentence'].values.astype('U')).toarray()

# train test split

In [156]:
x=df['Sentence']
y=df['Label']

In [157]:
x.head()

0     select * from users where id = 1 or  ( \ )  =...
1     select * from users where id = 1 or  ( \. )  ...
2     select * from users where id = 1 or  ( \+ )  ...
3     select * from users where id = 1 or  ( 1 )  =...
4     select * from users where id = 1 or  ( \+ )  ...
Name: Sentence, dtype: object

In [158]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: Label, dtype: int64

In [159]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [160]:
X_train=vectorizer.transform(x_train)
X_test=vectorizer.transform(x_test)

In [164]:
from sklearn.naive_bayes import MultinomialNB

model=MultinomialNB()
model.fit(X_train,y_train)
y_pred=model.predict(X_test)

In [165]:
from sklearn.metrics import accuracy_score

acc=accuracy_score(y_test,y_pred)
print(acc)

0.9090909090909091

In [144]:
from sklearn.metrics import classification_report

class_rep=classification_report(y_test,y_pred)
print(class_rep)

              precision    recall  f1-score   support

           0       0.93      0.95      0.94      1156
           1       0.84      0.76      0.79       362

    accuracy                           0.91      1518
   macro avg       0.88      0.86      0.87      1518
weighted avg       0.90      0.91      0.90      1518

In [166]:
from sklearn.metrics import confusion_matrix 

con_mat=confusion_matrix(y_test,y_pred)
print(con_mat)

[[1098   52]
 [  86  282]]

In [146]:
y_test.shape

(1518,)

In [161]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(X_train,y_train)
ypred=model.predict(X_train)

In [163]:
from sklearn.metrics import accuracy_score
ac=accuracy_score(y_train,ypred)
print(ac)

0.9358757062146893